<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a routerLink="/home">MT <span>Tandheelkunde</span></a></h1>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link" routerLink="/home" fragment="wie-ik-ben">Wie ben ik</a></li>
        <li class="dropdown">
          <a class="nav-link" routerLink="/home" fragment="wat-ik-doe">
            <span>Behandelingen</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/facings">Facings</a></li>
            <li><a routerLink="/slijtage">Gebitsslijtage</a></li>
            <li><a routerLink="/kroon-brugwerk">Kroon- en brugwerk</a></li>
            <li><a routerLink="/bleken">Bleken</a></li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/contact">Contact</a></li>
        <li><a class="btn-afspraak" routerLink="/afspraak">
          <i class="bi bi-calendar-check me-1"></i>Afspraak
        </a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <div class="header-social-links d-flex align-items-center">
      <a href="tel:0596219219" title="Bel ons"><i class="bi bi-telephone"></i></a>
      <a href="mailto:info@mt-tandheelkunde.nl" title="E-mail"><i class="bi bi-envelope"></i></a>
    </div>

  </div>
</header>
