<app-header></app-header>
<section id="wie-ik-ben" class="wie-ik-ben services">
  <div class="container">
    <div class="row">
      <div id="carouselExampleIndicators" class="col carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let photo of photos; let i = index" [class.active]="i === 0">
            <img [src]="photo" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="col">
        <h3>Bleken</h3>
        <p>
          Tanden laten bleken bij de tandarts is de meest effectieve methode om de tanden witter te maken. Alleen bij tandartsen mag u namelijk uw tanden laten bleken met 6% waterstofperoxide. Bleken met waterstofperoxide is de enige effectieve methode om uw tanden echt witter te maken. Er wordt gewerkt met een mal op maat gemaakt welke 's nachts met de bleekgel in kan worden gedragen.
        </p>
        <h3>ICON</h3>
        <p>
          ICON is een pijnloze, snelle en esthetische behandeling voor zogenaamde `white spots`, oftewel kalkvlekjes, fluorose en cariogene witte plekjes na verwijdering van de beugel. Deze behandeling werkt op basis van infiltratie in de white spot en is dus niet invasief (er wordt niet aan de tand geslepen).
        </p>
      </div>
    </div>
  </div>
</section>
<app-wat-ik-doe></app-wat-ik-doe>
<app-contact></app-contact>
